@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #708090;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 4em;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:0;

}

.chart {
    box-shadow: 2px 2px 20px #000;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 400px; 
    padding: 2em;
    position: relative;
    
}

.chart__title {
    font-size: 2.25rem;
    font-weight: normal;
    text-align: center;
    color: #0B132B;
    margin:0;
}

.bar:hover {
    fill: #A59132;
}

.tooltip {
    height: 50px;
    width: 150px;
    background-color: #A59132;
    border-radius: 0.1em;
    margin: 0;
    padding: 5px;
    color: white;
    box-shadow: 2px 2px 20px #000;
    text-align: center;

}



